* {
  box-sizing: border-box;
}

:root {
  --font-color: #3a060e;
  --button-color: #b1e321;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
