.btn.btn-form {
  width: 525px; /* Độ rộng */
  height: 60px; /* Chiều cao */
  background-color: #b1e321; /* Màu nền */
  color: #3a060e; /* Màu chữ */
  font-size: 16px; /* Kích thước chữ */
  font-family: "Poppins", sans-serif; /* Font family */
  border-radius: 50px; /* Góc bo tròn */
  border: none; /* Bỏ viền mặc định */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form:hover {
  background-color: #3a060e; /* Màu nền khi hover */
  color: #b1e321;
}
