img {
  width: 148px;
  height: auto;
  border-radius: 5px;
}


.navbar__search__form {
  display: flex;
  gap: 5px;
}

.btn__container {
  display: flex;
  gap: 5px;
}

.btn__signup {
  display: flex;
  width: var(--button-width);
  height: var(--button-height);
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--white);
  color: var(--brown100);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

.btn__signup:hover {
  color: var(--green100);
}
